<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Belt Exam</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/beltexam.css' %}">
</head>
<body>
    <div id="wrapper">
        <header class="header">
            <p>Welcome, {{request.session.first_name}}!</p>
            <a href="myaccount/{{user.id}}">Edit My Account</a>
            <a href="/logout">Logout</a>
        </header>
        <main>
            <div class="message">
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{message}}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="left">
                <p class="quote_header">Quotes</p>
                {%for quote in quotes%}
                <div class="quote_box">
                    <p>{{quote.author}}: "{{quote.quote}}"</p>
                    <p>Posted by <a href="user/{{quote.creator.id}}">{{quote.creator.first_name}} {{quote.creator.last_name}}</a></p>
                    <form action="quote/{{quote.id}}/delete" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="Delete!">
                    </form>
                    <form action="quote/{{quote.id}}/like" method="POST" class="like_form">
                        {% csrf_token %}
                        <p>{{quote.users_who_like.count}} people like this<input type="submit" value="Like!"></p>
                    </form>
                </div>
                {%endfor%}
            </div>
            <div class="right">
                <form action="new_quote" method="POST" class="new_quote">
                    {% csrf_token %}
                    <p class="quote_header">Add a Quote!</p>
                    <p class="top">Author</p> <input type="text" name="author" class="author_input"> 
                    <p class="top">Quote</p> <textarea name="quote" cols="25" rows="10"></textarea> 
                    <p class="submit"><input type="submit" value="Submit" class="submit"></p>
                </form>
            </div>
            
        </main>
    </div>
</body>
</html>